<header class="container d-flex align-items-center justify-content-between">
    <div class="container-fluid">
        <a href="../../pages/home.html"><img src="../../assets/images/logo_header.png" alt="" style="width: 50px;"
                class="me-3"></a>
        <div class="header_search_section">
            <input type="text" class="header_input" placeholder="Bạn muốn mua gì...">
            <div class="sub_search shadow d-none">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="fs-4 fw-bold" style="color: #006F3C;">Từ khóa phổ biến</p>
                    <p class="close_btn"><i class="bi bi-x-lg" style="color: #006F3C; cursor: pointer;"></i></p>
                </div>
                <div class="list-keyword">
                    <a href="../../pages//smallPages/milkTea.html"
                        class="text-decoration-none text-white rounded mx-1 my-1   d-inline-block p-2 bg-success"
                        style="font-size: 10px;">Trà
                        sữa
                        Phúc Long</a>
                    <a href="../../pages/smallPages/OriginTea.html"
                        class="text-decoration-none text-white rounded mx-1 my-1   d-inline-block p-2 bg-success"
                        style="font-size: 10px;">Trà
                        sữa nguyên bản</a>
                    <a href="../../pages/smallPages/Coffe.html"
                        class="text-decoration-none text-white rounded mx-1 my-1   d-inline-block p-2 bg-success"
                        style="font-size: 10px;">Cà Phê</a>
                    <a href="../../pages/smallPages/CrushedIce.html"
                        class="text-decoration-none text-white rounded mx-1 my-1   d-inline-block p-2 bg-success"
                        style="font-size: 10px;">Đá xay</a>
                    <a href="../../pages/smallPages/Silky.html"
                        class="text-decoration-none text-white rounded mx-1 my-1   d-inline-block p-2 bg-success"
                        style="font-size: 10px;">Kem Silky</a>
                    <a href="../../pages/smallPages/bread.html"
                        class="text-decoration-none text-white rounded mx-1 my-1   d-inline-block p-2 bg-success"
                        style="font-size: 10px;">Bánh Mỳ</a>
                </div>
            </div>
        </div>
    </div>

    <div class="header_right_section flex-grow-1 align-items-center gap-4">
        <div class="header_address d-md-flex d-sm-none align-items-center">
            <img src="../../assets/images/shipper.png" alt="" srcset="" style="height: 40px;" class="me-2">
            <div style="width: 100%;">
                <p class="header_address_method">Đến lấy</p>
                <p class="header_address-text"></p>
            </div>
        </div>
        <a href="../../pages/cart.html"><i class="cart_icon bi bi-cart-dash-fill"></i></a>
        <a href="../../pages/profile.html" class="text-decoration-none"><img src="" id="avatar_header" alt="Avatar"
                class="rounded-circle" style="width: 35px; height: 35px;"></a>
        <div class="toggle-part">
            <i class="cart_icon toggle-btn bi bi-list"></i>
            <div id="toggle_navbar">
                <nav class="w-100 p-4">
                    <ul class="lh-base list-unstyled w-100">
                        <li class="py-1"><a href="../../pages/home.html"
                                class="text-decoration-none text-uppercase fw-medium">Trang
                                chủ</a>
                        </li>
                        <li class="py-1">
                            <a href="../../pages/menu.html"
                                class="text-decoration-none text-uppercase fw-medium">Menu</a>

                        </li>
                        <li class="py-1">
                            <a href="../../pages/menu.html" class="text-decoration-none text-uppercase fw-medium">Sản
                                phẩm đóng gói</a>
                        </li>
                        <li class="py-1">
                            <a href="../../pages/privacy.html" class="text-decoration-none text-uppercase fw-medium">Về
                                chúng tôi</a>
                        </li>
                        <li class="py-1"><a href="../../pages/protection-plans.html"
                                class="text-decoration-none text-uppercase fw-medium">Khuyến mãi</a>
                        </li>
                        <li class="py-1">
                            <a href="../../pages/customer_service.html"
                                class="text-decoration-none text-uppercase fw-medium">Hội viên</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


    </div>
</header>



<script type="module" src="../components/header/header.js"></script>