<nav>
    <div class="text-center">
        <img src="" id="avatar_sidebar" alt="Avatar" class="img-fluid rounded-circle"
            style="width: 100px; height: 100px;">
        <h5 id="username"></h5>
        <p class="fw-medium">Registered:<span id="register_day" class="fw-bold "></span></p>
    </div>
    <h6><a href="./home.html" class="text-decoration-none text-white">Home Page</a></h6>
    <h6>Manage Account</h6>
    <ul class="nav flex-column gap-3">
        <li class="nav-item ms-3"><a class="text-white text-decoration-none" href="../../pages/profile.html">Personal
                Infor</a>
        </li>
        <li class="nav-item ms-3"><a class="text-white text-decoration-none"
                href="../../pages/address.html">Addresses</a>
        </li>
        <li class="nav-item ms-3"><a class="text-white text-decoration-none"
                href="../../pages/privacy.html">Communications &
                privacy</a></li>
    </ul>
    <h6 class="my-3">Orders</h6>
    <ul class="nav flex-column gap-3">
        <li class="nav-item ms-3"><a class="text-white text-decoration-none" href="../../pages/Order.html">Your
                order</a>
        </li>

    </ul>
    <h6 class="my-3">Subscriptions & plans</h6>
    <ul class="nav flex-column">
        <li class="nav-item ms-3"><a class="text-white text-decoration-none"
                href="../../pages/protection-plans.html">Protection plans</a></li>
    </ul>
    <h6 class="my-3">Customer Service</h6>
    <ul class="nav flex-column gap-3">
        <li class="nav-item ms-3"><a class="text-white text-decoration-none"
                href="../../pages/customer_service.html">Customer Service</a></li>

    </ul>
    <h6 class="d-flex gap-2 text-white mt-3" style="cursor: pointer;" id="logoutBtn"><i
            class="bi bi-box-arrow-left mr-2 d-block"></i>Log out</h6>
</nav>

<style>
    .sidebar {
        background-color: #006F3C;
        height: 100vh;
        padding: 20px;
    }
</style>