<div id="navbar" class="w-100 shadow d-flex align-items-center p-0">
        <nav class="w-100 d-flex container h-50 align-items-center">
                <ul class="d-flex justify-content-center align-items-center gap-5 lh-base list-unstyled w-100 m-0 p-2">
                        <li><a href="../../pages/home.html" class="text-decoration-none text-uppercase fw-medium">Trang
                                        chủ</a>
                        </li>
                        <li class="menu-hover">
                                <a href="../../pages/menu.html"
                                        class="text-decoration-none text-uppercase fw-medium">Menu</a>
                                <div class="submenu shadow">
                                        <div class="submenu_above">
                                                <div>
                                                        <a href="../../pages/smallPages/NewYearCollection.html"
                                                                class="text-decoration-none text-uppercase fw-bolder"
                                                                style="color: #006F3C;">Hộp
                                                                quà tết
                                                                "Mùa Hoa Nở"</a>
                                                </div>
                                                <div>
                                                        <ul>
                                                                <li class="list-unstyled p-1 submenu-item__title"><a
                                                                                class="text-decoration-none fw-bolder"
                                                                                style="color: #006F3C;font-size: 20px;">Thức
                                                                                uống</a>
                                                                </li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/Tiramisu.html"
                                                                                class="text-decoration-none ">BST
                                                                                mới
                                                                                "Tiramisu"</a></li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/bestSeller.html"
                                                                                class="text-decoration-none ">Best
                                                                                Seller"</a>
                                                                </li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/fruitTea.html"
                                                                                class="text-decoration-none ">Trà
                                                                                trái cây</a>
                                                                </li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/milkTea.html"
                                                                                class="text-decoration-none ">Trà
                                                                                sữa</a></li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/Silky.html"
                                                                                class="text-decoration-none ">Kem
                                                                                Silky</a>
                                                                </li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/Coffe.html"
                                                                                class="text-decoration-none ">Cà
                                                                                phê</a></li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/CrushedIce.html"
                                                                                class="text-decoration-none ">Đá
                                                                                xay</a></li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/OriginTea.html"
                                                                                class="text-decoration-none ">Trà
                                                                                nguyên
                                                                                bản</a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                        <div class="submenu_under">

                                                <div>
                                                        <ul>
                                                                <li class="list-unstyled p-1 submenu-item__title"><a
                                                                                class="text-decoration-none fw-bolder"
                                                                                style="color: #006F3C;font-size: 20px;">Bánh</a>
                                                                </li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/coldCake.html"
                                                                                class="text-decoration-none ">Bánh
                                                                                lạnh</a></li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/cookies.html"
                                                                                class="text-decoration-none ">Bánh
                                                                                Cookies</a>
                                                                </li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/bread.html"
                                                                                class="text-decoration-none ">Bánh
                                                                                mì</a>
                                                                </li>

                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </li>
                        <li class="menu-hover">
                                <a href="../../pages/smallPages/Coffe.html"
                                        class="text-decoration-none text-uppercase fw-medium">Sản phẩm đóng gói</a>
                                <div class="submenu shadow">
                                        <div class="submenu_above">

                                                <div>
                                                        <ul>
                                                                <li class="list-unstyled p-1 submenu-item__title"><a
                                                                                href="../../pages/smallPages/Coffe.html"
                                                                                class="text-decoration-none fw-bolder"
                                                                                style="color: #006F3C;font-size: 20px;">Trà</a>
                                                                </li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/Coffe.html"
                                                                                class="text-decoration-none ">Trà
                                                                                hộp giấy</a></li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/Coffe.html"
                                                                                class="text-decoration-none ">Trà
                                                                                gói giấy bạc</a>
                                                                </li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/Coffe.html"
                                                                                class="text-decoration-none ">Trà
                                                                                túi lọc</a>
                                                                </li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/Coffe.html"
                                                                                class="text-decoration-none ">Trà
                                                                                túi tam giác</a></li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/Coffe.html"
                                                                                class="text-decoration-none ">Trà
                                                                                lài</a>
                                                                </li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/Coffe.html"
                                                                                class="text-decoration-none ">Trà
                                                                                xanh</a></li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/Coffe.html"
                                                                                class="text-decoration-none ">Trà
                                                                                sen</a></li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/smallPages/Coffe.html"
                                                                                class="text-decoration-none ">Trà
                                                                                đen</a></li>
                                                        </ul>
                                                </div>
                                                <div>
                                                        <ul>
                                                                <li class="list-unstyled p-1 submenu-item__title"><a
                                                                                href=""
                                                                                class="text-decoration-none fw-bolder"
                                                                                style="color: #006F3C;font-size: 20px;">Cà
                                                                                phê</a>
                                                                </li>
                                                                <li class="list-unstyled p-1 submenu-item"><a href=""
                                                                                class="text-decoration-none ">Cà
                                                                                phê hạt không bơ</a></li>

                                                        </ul>
                                                </div>
                                        </div>

                                </div>
                        </li>
                        <li class="menu-hover">
                                <a href="#footer" class="text-decoration-none text-uppercase fw-medium">Về chúng tôi</a>
                                <div class="submenu shadow" style="width: 700px;">
                                        <div class="submenu_above">

                                                <div>
                                                        <ul>
                                                                <li class="list-unstyled p-1 submenu-item__title"><a
                                                                                href="#footer"
                                                                                class="text-decoration-none fw-bolder"
                                                                                style="color: #006F3C;font-size: 20px;">Về
                                                                                Phúc Long</a>
                                                                </li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="#footer"
                                                                                class="text-decoration-none ">Giới
                                                                                thiệu công ty</a></li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="#footer"
                                                                                class="text-decoration-none ">Thư
                                                                                viện hình ảnh</a>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="#footer"
                                                                                class="text-decoration-none ">Liên
                                                                                hệ</a>
                                                                </li>

                                                        </ul>
                                                </div>
                                                <div>
                                                        <ul>
                                                                <li class="list-unstyled p-1 submenu-item__title"><a
                                                                                href="#footer"
                                                                                class="text-decoration-none fw-bolder"
                                                                                style="color: #006F3C;font-size: 20px;">Tuyển
                                                                                dụng</a>
                                                                </li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="#footer"
                                                                                class="text-decoration-none ">Văn
                                                                                phòng</a></li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="#footer"
                                                                                class="text-decoration-none ">Nhà
                                                                                máy</a></li>

                                                        </ul>
                                                </div>
                                                <div>
                                                        <ul>
                                                                <li class="list-unstyled p-1 submenu-item__title"><a
                                                                                href="#footer"
                                                                                class="text-decoration-none fw-bolder"
                                                                                style="color: #006F3C;font-size: 20px;">Cửa
                                                                                hàng</a>
                                                                </li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/customer_service.html"
                                                                                class="text-decoration-none ">Chính sách
                                                                                cửa hàng</a></li>

                                                        </ul>
                                                </div>

                                        </div>

                                </div>
                        </li>


                        <li><a href="../../pages/customer_service.html"
                                        class="text-decoration-none text-uppercase fw-medium">Khuyến mãi</a></li>
                        <li class="menu-hover">
                                <a href="../../pages/customer_service.html"
                                        class="text-decoration-none text-uppercase fw-medium">Hội viên</a>
                                <div class="submenu shadow">
                                        <div class="submenu_above">
                                                <div>
                                                        <ul>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/customer_service.html"
                                                                                class="text-decoration-none ">Câu
                                                                                hỏi thường gặp</a></li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/customer_service.html"
                                                                                class="text-decoration-none ">Điều
                                                                                khoản và điều kiện chương trình hội
                                                                                viên</a>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/customer_service.html"
                                                                                class="text-decoration-none ">Điều
                                                                                khoản và điều kiện thẻ</a>
                                                                </li>
                                                                <li class="list-unstyled p-1 submenu-item"><a
                                                                                href="../../pages/customer_service.html"
                                                                                class="text-decoration-none ">Điều
                                                                                khoản và điều kiện voucher</a>
                                                                </li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </li>
                </ul>
        </nav>
</div>