<footer class="w-100 py-5  px-4 text-white" style="background-color: #006F3C;">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-2 col-md-6 col-sm-12">
            <p class="fw-bolder">ĐỊA CHỈ</p>
            <p><span class="fw-bold">Trụ sở chính:</span>Công ty Cổ Phần Phúc Long Heritage - ĐKKD: 0316 871719 do
                sở KHĐT TPHCM cấp
                lần
                đầu ngày 21/05/2021</p>
            <p><span class="fw-bold">Nhà máy:</span>D_8D_CN Đường XE 1, Khu Công Nghiệp Mỹ Phước III, phường Mỹ
                Phước, thị xã Bến
                Cát,
                tỉnh Bình Dương, Việt Nam.</p>
            <p><span class="fw-bold">Địa chỉ:</span>CPhòng 702, Tầng 7, Tòa nhà Central Plaza, số 17 Lê Duẩn, phường
                Bến Nghé, quận
                1,
                Hồ Chí Minh.</p>
            <p><span class="fw-bold">Hotline Đặt hàng:</span>1800 6779</p>
            <p><span class="fw-bold">Hotline Công ty</span> 1900 2345 18 (Bấm phím 0: Lễ Tân | phím 1: CSKH)</p>
            <p style="overflow: hidden; text-overflow: ellipsis;"><span
                    class="fw-bold">Email:</span>sales@phuclong.masangroup.com,
                info2@phuclong.masangroup.com</p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 d-flex flex-column justify-content-between">
            <div>
                <p class="fw-bolder">CÔNG TY</p>
                <p>Giới thiệu công ty</p>
                <p>Thư viện hình ảnh</p>
                <p>Liên hệ</p>
            </div>
            <div class="mt-5">
                <p class="fw-bolder">KHUYẾN MÃI</p>
                <p>Tin khuyến mãi</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 d-flex flex-column justify-content-between">
            <div>
                <p class="fw-bolder">TUYỂN DỤNG</p>
                <p>HTCH</p>
                <p>Kiosk</p>
                <p>Văn phòng</p>
                <p>Nhà máy</p>
            </div>
            <div>
                <p class="fw-bolder">CỬA HÀNG</p>
                <p>Danh sách cửa hàng</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 d-flex flex-column justify-content-between">
            <div>
                <p class="fw-bolder">HỘI VIÊN</p>
                <p>Câu hỏi thường gặp(FAQ)</p>
                <p>Điều khoản và điều kiện chương trình hội viên</p>
                <p>Điều khoản & Điều kiện Thẻ trả trước</p>
                <p>Điều khoản và Điều kiện sử dụng Thiệp Voucher</p>
            </div>
            <div>
                <p class="fw-bolder">ĐIỀU KHOẢN SỬ DỤNG</p>
                <p>Chính sách bảo mật thông tin</p>
                <p>Chính sách đặt hàng</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 d-flex flex-column">
            <div>
                <p class="fw-bolder">LIÊN HỆ</p>
                <p>Liên hệ</p>
            </div>
            <div>
                <img src="../../assets/images/bocongthuong.png" alt="" style="width: 200px; margin-top: 200px;">
            </div>
        </div>
    </div>
</footer>
<div class="d-flex justify-content-around align-items-center">
    <p style="color: #006F3C;">Copyright © 2021 Phúc Long Heritage. All rights reserved.</p>
    <div class="d-flex gap-3">
        <a href="" style="color: #006F3C;font-size: 20px;"><i class="bi bi-instagram"></i></a>
        <a href="" style="color: #006F3C;font-size: 20px;"><i class="bi bi-facebook"></i></a>
        <a href="" style="color: #006F3C;font-size: 20px;"><i class="bi bi-youtube"></i></a>
    </div>
</div>